{% extends "base.html" %}
{% load static %}

{% block title %}Про посткроссинг{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="about">

    <h3>Что такое посткроссинг?</h3>
    <br>
    <p> Посткроссинг – это обмен открытками между людьми по всему миру.  </p>
    <br>
    <p> После регистрации и заполнения профиля можно получить доступ к
      адресам случайных людей.  </p>
    <p>  Когда вы добавите в профиль информацию о себе, ваш адрес может выпасть
      другому человеку.  </p>
      <br>  
    
    <p> На каждой открытке есть уникальный номер отправителя, который нужно
      добавить, когда открытка регистрируется на сайте.   </p>
      <p> Отправляйте открытки и накаплиавайте очки опыта  </p>
    </span>
    
{% endblock %}

